[submodule "SDL_ttf"]
	path = TextEditor/libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
	branch = SDL2
[submodule "SDL"]
	path = TextEditor/libs/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
